{{define "newPaste"}}<!DOCTYPE html><html>{{template "head"}}<body>

<form method="POST">
<textarea name="paste" rows="4" cols="50"></textarea>

<input type="submit" value="Create Paste"></input>
</form>


</body></html>{{end}}